<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
      <!-- font awesome style -->
      <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="/stylesheets/style.css" rel="stylesheet" />
      <!-- responsive style -->
      <link href="/stylesheets/responsive.css" rel="stylesheet" />

<section>
  <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"
    />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css"/>
    <div class="container mt-5">
       
  <table class="table table-striped mt-5" id="tableone">
   
  <thead>
    <tr>
      
      <th scope="col">Title</th>
      <th scope="col">Delivery Address</th>
      <th scope="col">Price</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Status</th>
     
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      
      <td>{{this.date}}</td>
      <td>{{this.deliveryDetails.address}},{{this.deliveryDetails.country}},{{this.deliveryDetails.pincode}}</td>
      <td>Rs.{{this.totalAmount}} /-</td>
      <td>{{this.paymentMethod}}</td>
      <td> <select name="status" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option>{{this.status}}</option>
                            <option>Pending</option>
                            <option>Cancel Order</option>
                            <option>Shipped</option>
                            </select></td>
     
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>
<script>
      $(document).ready(function () {
        $("#tableone").DataTable();
      });
    </script>