 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">

<section>
  
  <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"
    />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css"/>
    <div class="container mt-5">
      <div><h1>Sales Report</h1></div>

      <div class="container-fluid">
        <div class="row">
          <div class="col shadow p-4">Total Revenue Rs : <span style="color: red;">{{totalAmount}}/-</span></div>
          <div class="col shadow p-4">Total Orders : <span style="color: red;">{{totalorders}}</span></div>
          <div class="col shadow p-4">Cancelled Orders : <span style="color: red;">{{cancelOrders}}</span></div>
          <div class="col shadow p-4">Cancelled Amount Rs: <span style="color: red;">{{cancelled}}/-</span></div>
          
        </div>
      </div>
      <div><h2></h2>
      </div>
    
       
  <table class="table table-striped mt-5" id="tableone">
   
  <thead>
    <tr>
      
      <th scope="col">Title</th>
      <th scope="col">Delivery Address</th>
      <th scope="col">Price</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Status</th>
      <th scope="col">Cancel order</th>
     
    </tr>
  </thead>
  <tbody>

    

    {{#each orders}}
    <tr>
      
      <td>{{this.date}}</td>
      <td>{{this.deliveryDetails.address}},{{this.deliveryDetails.country}},{{this.deliveryDetails.pincode}}</td>
      <td>Rs.{{this.totalAmount}} /-</td>
      <td>{{this.paymentMethod}}</td>
       <td>
          {{this.status}}
         
      
           
          
            {{!-- <a href="/admin/ship-order/{{this._id}}" class="btn btn-success">Ship order</a> --}}
            {{!-- <option><a href="/admin/cancel-order/{{this._id}}" class="btn btn-success">Cancel Order</a></option>
            <option ><a href="/admin/place-order/{{this._id}}" class="btn btn-success">Place order</a></option> 
            <option > <a href="/admin/deliver-order/{{this._id}}" class="btn btn-success">Deliver order</a></option>          --}}

      
          
    </td>
    <td> <a href="/admin/cancel-order/{{this._id}}" class="btn btn-success">Cancel Order</a></td>
     
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>
<script>$(document).ready(function() {
    $('#tableone').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );</script>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="/stylesheets/dashboard.js"></script>