 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">

<section>
    <div class="container mt-5">
        <table class="table table-striped mt-5">
  <thead>
    <tr>
      
      <th scope="col">User name</th>
      <th scope="col">Email</th>
      <th scope="col">Access</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
  
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
       <td>
         {{#if this.Access}}
        <a href="/admin/block-user/{{this._id}}" class="btn btn-success">Block</a>
             {{else}}
            <a href="/admin/unblock-user/{{this._id}}" class="btn btn-danger delete">Unblock</a>  
            {{/if}}
            </td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="/stylesheets/dashboard.js"></script>